

<footer class="bg-white text-center text-lg-start">
<div class="container p-1">
<P>
    
<li>Phone: +1 (416) 833-5354</li>
<li>Email: <a href="mailto:webmaster@example.com">emkchan@yahoo.com</a></li>

</P>
</div>
</footer>

</body>
</html>
