

<% include partials/header %>

<img src="\images\ericchan.jpg" height="300">

<h1>About</h1>

<p>
    My name is Man-Kit Chan, or you can simply call me Eric. I am a professional IT engineer
    specialized in large-scale enterprise system development. I also have over 15 years
    of experience in project management on implementation of system and network infrastructure.
</p>

<p>
    I am currently studying in Centennial College, Ontario and major in Artifical Intelligence.
    The program enables me to gain the latest knowledge of Artifical Intelligence which can be applied
    to the ongoing and coming development projects.
</p>

<p>
    I am a member of IEEE and certificate holders of CISSP and CISA.
</p>

<h1>Resume</h1>
<p>
    If you want to know more about me, you can download my resume <a href="\ericchan_resume.pdf">here</a>.
</p>

<% include partials/content %>

<% include partials/footer %>

