

<% include partials/header %>

<img src="\images\ericchan.jpg" height="300">

<h1>About</h1>

<p>
    My name is Man-Kit Chan, or you can simply call me Eric. I am a professional IT engineer
    specialized in large-scale enterprise system development. I also have many
    years of experience in project management on implementation of system and network infrastructure.
</p>

<h1>Resume</h1>

<p>
    You can download my <a href="\ericchan_resume.pdf">resume</a> for future reference.
</p>

<% include partials/content %>

<% include partials/footer %>

<p>/views/aboutme.ejs is calling</p>
