

<% include partials/header %>

<h1>Contact</h1>

<P>
    I can be reached at the following ways:
    <li>Phone: +1 (416) 833-5354 </li>
    <li>Email: <a href="mailto:webmaster@example.com">emkchan@yahoo.com</a></li>
    <li>WhatsApp: +1 (416) 833-5354</li>
    <li>Facebook: <a href="https://www.facebook.com/eric.chan.16100/">https://www.facebook.com/eric.chan.16100</a></li>
</P>

<% include partials/content %>

<% include partials/footer %>
