
<% include partials/header %>
<% include partials/content.ejs %>

<div class="container mt-3">

<h1>Welcome</h1>

<BR>

<P><i>Welcome and thank you visiting my website!</i></P>

<BR>

<h1>Mission</h1>

<p></p>

</div>

<% include partials/footer.ejs %>
