<!--
    File: index.ejs
    Name: Man Kit Chan
    Student ID: 301251832
    Date: 2022-09-30
    Course: COMP229-018
    Title: Assignment 1
-->

<% include partials/header %>
<% include partials/content.ejs %>

<div class="container mt-3">

<h1>Welcome</h1>

<br>

<p><i>A sincere welcome and thank you visiting my website!</i></p>

<br>

<h1>Mission</h1>

<br>

<h4><i>My mission is to continuously equip myself with the most advanced knowledge to establish the highest quality technology-based system for contributing the industry, community and society.</i></h4>

</div>

<% include partials/footer.ejs %>
