<% include partials/header %>

<% include partials/content %>

<h1>Projects</h1>

<h3>SNMP-Based Network Management System</h3>

<p>A mission-critical network mangement system which is responsible for monitoring the healthiness and performance of
the internal Ethernet network of telecommication company. The system is monitoring over 25000+ network nodes and
hosts for ensuring the availability of services for internal departments and systems. The system also has the
capablilty of providing preventive advices and alerts to the administrators once any abnormal traffic performance
and behaviors are detected. The system is distributed-design and is running across multiple geographical locations concurrently
for maximizing its resilience.
</p>

<h3>Video Survillence System</h3>

<h3>Project 3</h3>


<% include partials/footer %>

