<!--
    File: projects.ejs
    Name: Man Kit Chan
    Student ID: 301251832
    Date: 2022-09-30
    Course: COMP229-018
    Title: Assignment 1
-->

<% include partials/header %>
<% include partials/content %>

<div class="container mt-3">

<h1>Projects</h1>

<br>

<P>
In the past, I participated in a lot of IT projects. The followings are the projects I involved in last several years:
</P>

<br>

<h3>SNMP-Based Network Management System</h3>

<br>

<img src="\images\project_nm_01.jpg" height="200">
<img src="\images\project_nm_02.jpg" height="200">

</p>
A mission-critical network mangement system which is responsible for monitoring the healthiness and performance of
the internal Ethernet network of telecommication company. The system is monitoring over 25000+ network nodes and
hosts for ensuring the availability of services for internal departments and systems. The system also has the
capablilty of providing preventive advices and alerts to the administrators once any abnormal traffic performance
and behaviors are detected. The system is distributed-design and is running across multiple geographical locations
concurrently for maximizing its resilience.
</p>
My role in the project was Technical Officer and responsible for user requirement analysis and system
implemenation.
<P>

</P>

<br>

<h3>Video Surveillance System</h3>

<br>

<img src="\images\project_vs_01.jpg" height="200">

<P>
An enterprise video surveillance system which is developed for connecting and managing over +5000 high resolution CCTV
cameras with capability of real-time monitoring and 24/7 recording. The system provides a robust platform for supporting
the security operations of data centre and other critical infrastructure of the corporation.
</P>

<P>
My role in the project was Project Manager and responsible for planning and managing the development processes
throughout the project lifecycle.
</P>

<br>

<h3>Facial Recognition</h3>

<br>

<img src="\images\project_fr_01.jpg" height="200">
<img src="\images\project_fr_02.jpg" height="200">

<P>
The facial recognition system is a standalone system developed by using commerical AI library package.
By integrating with the existing video sureillance system, the system can provide real-time and offline
facial recognition feature of video captured for supporting investigation and enhancing security operations.
</P>

<P>
My role in the project was Project Manager and responsible for planning and managing the development processes
throughout the project lifecycle.
</P>

<br>

</div>

<% include partials/footer %>
