<% include partials/header %>

<h1>Services</h1>

<P>
    I offer the following services:
    <li>Design and implementation of mid-to-large scale network management system</li>
    <li>Design and implementation of mid-to-large scale video survillence system</li>
    <li>Security review and advisory for IT system and network infrastructure</li>
    <li>Advisory service of system integration and migration</li>
</P>

<% include partials/content %>

<% include partials/footer %>
