<% include partials/header %>

<% include partials/content %>

<div class="container mt-3">

<h1>Services</h1>

<br>

<P>
    I offer the following services:
    <ul>
        <li>Design and implementation of mid-to-large scale network management system</li>
        <li>Design and implementation of mid-to-large scale video survillence system</li>
        <li>Security review and advisory for IT system and network infrastructure</li>
        <li>Advisory service of system integration and migration</li>
    </ul>
</P>

</div>

<% include partials/footer %>
