<!--
    File: services.ejs
    Name: Man Kit Chan
    Student ID: 301251832
    Date: 2022-09-30
-->

<% include partials/header %>

<% include partials/content %>

<div class="container mt-3">

<h1>Services</h1>

<br>

<P>
    I offer the following services:
    <ul>
        <li>Design and implementation of mid-to-large scale network management system</li>
        <img src="\images\services_nms.jpg" height="250">
        <li>Design and implementation of mid-to-large scale video survillence system</li>
        <img src="\images\services_cctv.jpg" height="150">
        <li>Security review and advisory for IT system and network infrastructure</li>
        <img src="\images\services_security.jpg" height="200">
        <li>Advisory service of system integration and migration</li>
        <img src="\images\services_si.jpg" height="200">
    </ul>
</P>

</div>

<% include partials/footer %>
